--- 
layout: default 
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="h3">
    Click the button below to see what information you get from the search:
  </div>
  <div class="link-button">
    <a href="https://mknawalaniec.github.io/spotify-search/" class="btn btn-default">Search for Run the World</a>
  </div>

  <div class="h3">
    Enter the correct number to complete the challenge.
  </div>
  <div>
    <input id="apiInput" class="api-input"></input>
  </div>
  <div>
    <button onclick="myFunction()">SUBMIT</button>
  </div>
  <div style="margin:15px;">
    <a id="continue"></a>
  </div>

  <script>
    function myFunction() {
      var apiInput = document.getElementById("apiInput").value;
      var response;
      if (apiInput == 3) {
        response = "Correct! Click Here to Continue!";
        document.getElementById("continue").href = "/html-challenge";
        document.getElementById("continue").style.color = "#59bfe5";
      } else {
        response = "Sorry that's not right, try again!";
        document.getElementById("continue").style.color = "red";
      }
      document.getElementById("continue").innerHTML = response;
    }
  </script>

</article>